<?xml version="1.0"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="ShoppingFeed\\Sdk">
      <directory>./test/unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
