name: Unit tests & static analysis

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/shoppingflux/php:7.4-fpm
      env:
        COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
      credentials:
        username: ${{ secrets.CR_USER }}
        password: ${{ secrets.CR_PAT }}
    steps:
      - uses: actions/checkout@v2

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest
        env:
          COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}

      - name: Run test script
        run: ./test
